# DEBUGGING
CONFIG_LOG_DEFAULT_LEVEL=LOG_DEFAULT_LEVEL_NONE 

# Override some defaults so BT stack is enabled
CONFIG_BT_ENABLED=y
# CONFIG_BTDM_CONTROLLER_MODE_BLE_ONLY=
CONFIG_BTDM_CONTROLLER_MODE_BR_EDR_ONLY=y
# CONFIG_BTDM_CONTROLLER_MODE_BTDM=
CONFIG_CLASSIC_BT_ENABLED=y
CONFIG_BT_SPP_ENABLED=y
# disable Secure Simple Pairing
CONFIG_BT_SSP_ENABLED=
# Support ONE connection at a time
# don't work --> CONFIG_BTDM_CTRL_BR_EDR_MAX_ACL_CONN=1
# need to change esp_bt_gap_set_scan_mode to
# ESP_BT_NON_CONNECTABLE, ESP_BT_NON_DISCOVERABLE
# and WiFi is disabled
#CONFIG_WIFI_ENABLED=n

CONFIG_BT_NIMBLE_ENABLED=n

CONFIG_COMPILER_OPTIMIZATION_SIZE=y